*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: red;
}
ul li{
    list-style-type: none;
}
article{
    position: relative;
    margin-top: 20px;
}
.details{
    position: absolute;
    top: 0;
    right: 280px;
}
.details>p{
    color: #666;
    font-size: 1.2rem;
}
.details>p>span{
    display: inline-block;
    font-size: 16px;
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 70px;
    text-align: center;
}
.details>span{
    color: red;
    margin:5px;
}
.price{
    position: relative;
    margin-top: 20px;
    width: 550px;
    background-color: #F3F3F3;
}
#justify{
    display: inline-block;
    width: 65px;
    text-align: justify;
    text-align-last: justify;
    color: #AFAFAF;
    margin: 10px 10px;
}
.price>p>span:nth-of-type(2){
    color: red;
}
.price>p>span:nth-of-type(3){
    color: red;
    font-size: 1.3em;
    font-weight: 600;
}
.price>p>span:nth-of-type(4){
    color: #333;
    font-weight: 600;
    margin-left: 5px;
}
.price>p>span:nth-of-type(5){
    color: #999;
    margin-left: 5px;
}
.price>p>span:nth-of-type(6){
    color: blueviolet;
    margin-left: 5px;
}
.price>p.dashed>span:nth-of-type(2){
    color: white;
    background-color: red;
    border-radius: 2px;
    font-size: 0.8em;
}
.price>p.dashed>span:nth-of-type(3){
    font-size: 0.8rem;
    margin:3px;
    color: #999;
}
.evaluate{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 65px;
    text-align: center;
    border-left: 1px solid lightslategray;
}
.evaluate p{
    font-size: 0.9rem;
    color: #666;
}
.evaluate span{
    font-size: 0.9rem;
    color: blue;
}

.Value-added-services span:nth-of-type(n+2){
    color: red;
    font-size: 0.8em;
    margin-left: 5px;
}
.rank span:last-of-type{
    font-size: 0.8em;
}
.address>span:nth-of-type(3){
    color: red;
}
.address>span:nth-of-type(n+2){
    font-size: 0.8em;
}
.weight span:last-of-type{
    font-size: 0.8em;
}
.service span:nth-of-type(n+2){
    font-size: 0.8em;
    color: skyblue;
}
.service{
    border-bottom: 0.6px solid black;
}
.cart{
    margin-top: 20px;
    text-align: center;
}
.cart button{
    width: 85px;
    height: 35px;
    background-color: #D9534F;
    color: white;
    border-radius: 5px;
    border-width: 0;
}
.cart button:hover{
    cursor: pointer;
}
.bookImg{
    position: absolute;
    left: 230px;
    width: 360px;
    height: 400px;
    border: 0.5px solid lightskyblue;
}
#img{
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
}